astroid==3.2.2
blinker==1.8.2
cfgv==3.4.0
click==8.1.7
dill==0.3.8
distlib==0.3.8
filelock==3.14.0
Flask==3.0.3
identify==2.5.36
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
nodeenv==1.8.0
pillow==10.3.0
platformdirs==4.2.2
pre-commit==3.7.1
pylint==3.2.2
python-barcode==0.15.1
PyYAML==6.0.1
tomlkit==0.12.5
virtualenv==20.26.2
Werkzeug==3.0.3
